<span class="bubble-menu-toggle right">
  <span class="toggle qa-bubble-menu-toggle" {{action "toggleMenu"}}>
    {{fa-icon "caret-square-o-down" classNames="toggle-menu-icon"}}
  </span>

  <ul class="{{if showMenu 'show-menu' }}">
    <li class="qa-bubble-menu-edit" {{action "edit"}}>{{t "components.bubble-menu.edit"}}</li>
    <!-- <li>Channels</li> -->
    <li class="qa-bubble-menu-delete" {{action "delete"}}>{{t "components.bubble-menu.delete"}}</li>
  </ul>
</span>
