<div class="wrapper-drop-zone
    {{if dropZoneVisibility 'show-drop-zone'}} {{if isOverDragZone 'over'}}
    {{valid}}">
  <section class="draggable-row">
    {{#if preview}}
      <div class="draggable-preview">
        <div class="preview-zone">
          <div class="preview-image" style={{previewBackground}}></div>
          <p class="invalid-image">{{t "components.draggable-file-picker.errorPreview"}}</p>
        </div>
      </div>
    {{/if}}
    {{tc-input type="file" block=true value=fileValue files=files
        placeholder=placeholder msg=msg valid=valid accept=accept
        inputClassName=inputClassName disabled=disabled fileLoaded=fileLoaded}}

    {{#if dropZoneVisibility}}
      {{#unless hasMsg}}
        <p class="drop-zone-text">
          {{t "components.draggable-file-picker.dragHere"}}
        </p>
      {{/unless}}
    {{/if}}
  </section>
</div>
