<section class="tc-modal">
  <div class="tc-dialog">
    <a {{action 'close'}} class="tc-close qa-project-edit-back">
      {{fa-icon 'close'}}
    </a>
    {{yield}}
    <footer class="align-right">
      {{#if cancel}}
        <button {{action 'cancel'}} class="tc-button subdued">
          {{t "actions.cancel"}}
        </button>
      {{/if}}
      {{#if save}}
        <button {{action 'save'}} class="tc-button qa-project-edit-save" disabled={{saveDisabled}}>
          {{t "actions.save"}}
        </button>
      {{/if}}
    </footer>
  </div>
</section>
