<span class="quick-settings-toggle right" {{action "toggleTooltip"}}>
	<span class="toggle qa-quick-settings-toggle">
    {{fa-icon "caret-square-o-down"}}
  </span>

	<ul class="{{if showTooltip 'show-tooltip' }}">
    <li class="qa-quick-settings-edit" {{action "edit"}}>
      {{t "components.quick-settings.edit"}}
    </li>
    <!-- <li>Channels</li> -->
    <li class="qa-quick-settings-delete" {{action "delete"}}>
      {{t "components.quick-settings.delete"}}
    </li>
  </ul>
</span>
