{{#if template}}
  <label>
    {{yield}}
  </label>
{{/if}}

<div>
  {{#unless textarea}}

    {{#if isInputFile}}
      {{input type="file" class="input-file-trigger" disabled=disabled
              classBinding="inputClassName" action='action' on=on }}
      <button>{{t "components.tc-input.file.actions.browse"}}</button>
      {{input classBinding="size icon block" class="tc-input" type="text"
        placeholder=placeholder value=value files=files disabled=disabled}}
    {{else}}
      {{input id=inputId classBinding="size icon block inputClassName" class="tc-input" type=type
        placeholder=placeholder value=value  action='action' on=on
        disabled=disabled}}
    {{/if}}

    {{#if icon}}
      <span icon>{{fa-icon icon size=icon-size}}</span>
    {{/if}}

  {{else}}

    {{textarea classBinding="size block inputClassName" class="tc-textarea"
        placeholder=placeholder value=value action='action' on=on
        disabled=disabled}}

  {{/unless}}

  {{#if hasMsg}}
    <div class="tc-message">
      {{msg}}
    </div>
  {{/if}}
</div>
