<section class="tc-modal">
  <div class="tc-dialog">
    {{yield}}
    <footer class="align-right">
      <button {{action 'action'}} class="tc-button">
        {{#if buttonLabel}}
          {{buttonLabel}}
        {{else}}
          {{t "actions.accept"}}
        {{/if}}
      </button>
    </footer>
  </div>
</section>
