<div class="tc-input block" type="copy">
  <span class="text-to-copy">{{yield}}</span>
  <button {{action "selectText"}}>{{fa-icon "files-o"}}</button>
</div>

{{#toast-dialog isShowing=showMessage}}
  {{t "components.text-to-copy.toastMessage"}}
{{/toast-dialog}}
