/* carousel */
#your-nice-app {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.wrapper-files {
  display: block;
  background: @grey2;
  line-height: 220px;
  vertical-align: middle;

  .file {
    display: inline-block;
    width: 63px;
    height: 86px;
    margin-right: 12px;
    background-size: 100%;
    vertical-align: middle;

    &.file-html {
      background: url(/assets/images/file_html.png) no-repeat 0 0 / 100%;
    }

    &.file-css {
      background: url(/assets/images/file_css.png) no-repeat 0 0 / 100%;
    }

    &.file-js {
      background: url(/assets/images/file_js.png) no-repeat 0 0 / 100%;
      margin: 0;
    }
  }
}

.wrapper-carousel {
  position: relative;
  background: @grey2;
  overflow: hidden;

  .carousel-item {
    line-height: 220px;
  }

  .carousel-item img {
    vertical-align: middle;
    max-width: 80%;
  }
}

/* benefits */
.benefit {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  margin-bottom: 32px;

  > div {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
  }

  .offline {
    background: url('/assets/images/offline.png') no-repeat center / 26% #DB5D12;
  }

  .instalable {
    background: 
      url('/assets/images/instalable.png') no-repeat center / 54% #FCCF00;
  }

  .hosted {
    background: url('/assets/images/hosted.png') no-repeat center / 54% #6FBFA4;
  }
}
