@heightHeaderAccordion: 48px;
.accordion {
  box-shadow: @shadow;

  .item-accordion {
    position: relative;

    header {
      height: @heightHeaderAccordion;
      padding: 0 32px;
      background: @BMWCorporative;

      > * {
        line-height: @heightHeaderAccordion;
        color: @BMWWhite;
        font-weight: 400;
        padding: 0;
      }
    }

    &[expand] {
      max-height: @heightHeaderAccordion;
      overflow: hidden;
      transition: max-height 0.5s;
    }

    &[expand="true"] {
      max-height: 1000px;
    }

    &:after {
      content: "";
      height: 1px;
      position: absolute;
      right: 10px;
      bottom: 0;
      left: 10px;
      background: darken(@BMWCorporative, 5%);
    }

    &:last-child:after,
    &[expand="true"]:after {
      display: none;
    }

    &.positive header {
      background: @BMWPositive;
    }
  }

  .separator {
    position: relative;

    &::before {
      content: "";
      display: none;
      position: absolute;
      top: 12px;
      bottom: 62px;
      left: -1px;
      width: 1px;
      background: @grey2;
      .media-min-md({display: block})
    }
  }
}
