.bubble-menu-toggle {
  position: relative;
  margin: 0 5px;
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;

  &.right {
    float: right;
    margin: 0 0 0 5px;
  }

  &.left {
    float: left;
    margin: 0 5px 0 0;
  }

  .toggle {
    &:hover {
      opacity: 0.8;
    }
  }

  ul {
    display: none;
    position: absolute;
    right: -8px;
    top: 40px;
    min-width: 120px;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: @grey1;
    box-shadow: @shadow;
    li {
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid @BMWDark;
      padding-top: 10px 0;
      vertical-align: bottom;
      
      &:last-child {
        border-bottom: none;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    &.show-menu {
      display: block;
    }
    
    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      right: 10px;
      top: -7px;
      transform: rotate(45deg);
      background: @grey1;
    }
  }
}
