.card {
  width: 310px;
  height: 310px;
  padding: 10px 20px;
  border-radius: 5px;
  border-bottom: 4px solid @BMWDark;
  background: #fff;
  box-shadow: @shadow;
  overflow: hidden;

  &.create-project h4 {
    margin-bottom: 25px;
  }

  h5 {
    font-weight: 400;
  }

  ul.list {
    list-style: none;

    li {
      font-size: 16px;
      padding: 10px;
      position: relative;

      a:hover {

        * {
          opacity: 0.95;
        }
      }

      &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background: @grey3;
      }

      &:last-child:before {
        display: none;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }

      p {
        padding: 7px 0;
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        color: lighten(@BMWDark, 40%);
        letter-spacing: 1px;
      }

      .item-details {
        float: left;

        p {
          display: block;
          padding: 4px 0 2px;
          color: @BMWDark;
          line-height: 1;
        }

        span {
          font-size: 12px;
          font-weight: bold;
          letter-spacing: 0.8px;
          color: @grey5;
          text-transform: uppercase;

          i {
            font-size: 16px;
            vertical-align: bottom;
          }

          &:first-of-type {
            margin-right: 4px;
          }
        }
      }

      .project-icon {
        height: 40px;
        width: 40px;
        margin: 0 10px 0 0;
        float: left;
        border-radius: 5px;
        border-bottom-left-radius: 0;
        overflow: hidden;
        background-size: 100% auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
      }

      .right {
        float: right;
      }
    }
  }

  .card-loader {
    display: none;
    position: absolute;
    right: 20px;
    top: 18px;
    z-index: 2;
  }

  &.is-new {

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: @BMWLightenGrey;
      opacity: 0.8;
      z-index: 1;
    }

  }

  &.is-saving {

    .card-loader {
      display: block;
    }

    .bubble-menu-toggle {
      display: none;
    }
  }

  .push-down {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
}

.card-info {
  box-shadow: @shadow;

  h4 {
    position: relative;
    padding: 20px 52px 20px 20px;
    background: @BMWCorporative;
    color: @BMWWhite;

    div {
      position: absolute;
      top: 50%;
      margin-top: -13px;
      right: 20px;
      width: 26px;
      height: 26px;
      color: @BMWWhite;
      font-size: 26px;
        text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      margin-top: -7px;
      left: -7px;
      background: @BMWCorporative;
      z-index: -1;
      transform: rotate(45deg);
    }
  }

  p {
    padding: 20px;
    background: @BMWWhite;
  }
}
