.confirm-box {
  position: absolute;
  left: 50%;
  margin-bottom: -12px;
  bottom: 50px;
  margin-left: -100px;
  width: 200px;
  background: #fff;
  z-index: 10;
  border-radius: @radius;
  overflow: hidden;
  word-wrap: break-all; // To handle IE6
  word-wrap: break-word;
  .shadow();
  -webkit-animation: open-confirm 0.2s;
  animation: open-confirm 0.2s;

  &.triangle::before {
    content: "";
    display: block;
    position: absolute;
    width: 14px;
    height: 14px;
    background: #fff;
    bottom: -7px;
    left: 50%;
    margin-left: -7px;
    transform: rotate(45deg);
    z-index: -1;
    .shadow();
  }

  & .confirm-box-content {
    padding: 10px 20px;
    position: relative;
    z-index: 1;
    background: #fff;
    h6 {
      color: @negative;
    }
    menu button {
      margin-right: 5px;
      &:last-child {
        margin: 0;
      }
    }
  }

  & ~ .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
    background: @BMWDark;
  }
}

@-webkit-keyframes open-confirm {
    from {
      transform: translateY(44%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
}

@keyframes open-confirm {
    from {
      transform: translateY(44%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
}
