.draggable-file-picker {
  position: relative;
  text-align: center;
  display: table;
  width: 100%;

  &[disabled] {
    opacity: 1;
    pointer-events: auto;

    .draggable-preview {
      .preview-zone {
        border-color: @grey3;
      }
    }
  }

  .draggable-row {
    display: table-row;
  }

  .wrapper-input-file {
    position: relative;
    z-index: 0;
    display: table-cell;
    vertical-align: top;
  }

  .wrapper-drop-zone {
    position: relative;
    display: table;
    width: 100%;

    &.show-drop-zone {
      height: 80px;
      padding: 10px;
      border: 2px dashed @grey3;
    }

    .drop-zone-text {
      font-size: 12px;
      position: absolute;
      right: 10px;
      bottom: 5px;
      color: @grey4;
      .media-max-xs({font-size: 10px;})
    }

    &.over {
      border-color: @BMWCorporative;
      background: fade(@BMWCorporative, 10%);
    }

    &.error {

      .preview-zone {
        border: 2px solid @BMWNegative;
      }

      .invalid-image {
        display: block;
      }
    }

    .invalid-image {
      display: none;
      position: absolute;
      top: 22px;
      width: 100%;
      text-align: center;
      color: #fff;
      background-color: #ba3835;
    }
  }

  .draggable-preview {
    display: table-cell;
    width: 68px;
    height: 68px;

    .preview-zone {
      width: 68px;
      height: 68px;
      overflow: hidden;
      position: relative;
      padding: 0;
      border-radius: 5px;
      border: 1px solid @BMWDark;
      background: url(images/transparent_background.png);

      .preview-image {
        width: 100%;
        height: 100%;
        background-size: 100% auto;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 1;
      }
    }
  }

  &.show-preview .wrapper-input-file {
    padding-left: 10px;

    button {
      .media-max-xs({
        width: 100%;
        border-radius: @radius;
      })
    }
  }
}
