.feedback-wrapper {
  position: absolute;
  top: 50%;
  margin-top: -40px;
  left: 0;

  &.minimized {

    .feedback-dialog {
      transform: translateX(-105%);
    }

    .feedback-minimized {
      transform: translateX(0);
    }
  }

  .feedback-dialog {
    position: absolute;
    left: 0;
    width: 220px;
    padding: 20px;
    border-bottom: solid 4px @BMWFeedback;
    background: @BMWWhite;
    box-shadow: @shadow;
    z-index: 10000;
    transform: translateX(0);
    transition: transform 0.1s;

    h5 {
      color: @BMWFeedback;
      .truncate();
    }

    .tc-button {
      float: left;
      width: 49%;

      &:last-child {
        margin-left: 2%;
      }
    }

    p {
      margin-bottom: 26px;
    }

    footer {
      .clearfix();
    }
  }

  .feedback-minimized {
    position: relative;
    height: 40px;
    width: auto;
    left: -100%;
    margin-right: -40px;
    box-shadow: @shadow;
    transform: translateX(-100%);
    transition: transform 0.2s 0.2s, left 0.2s, margin 0.4s 0.1s;

    &:hover {
      left: 0;
      margin-left: 0;
    }

    button {
      color: @BMWFeedback;
      background: @BMWWhite;
      line-height: 40px;
      padding: 0 8px;
      font-weight: normal;
      .truncate();
    }

    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      float: right;
      opacity: 1;
      background: url(/assets/images/bulb.png) no-repeat center left / 90% @BMWFeedback;
    }
  }
}
