.fixed-warn {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: fade(@BMWDark, 90%);
  color: @BMWWhite;
  padding: 10px;
  transition: transform 0.3s;

  &.close {
    transform: translateY(100%);
  }

  > p {
    max-width: @widthMD;
    margin: 0 auto;
  }
}
