.projects-list {
  max-width: 310px;
  margin: 0 auto;

  & > li {
    float: left;
    position: relative;
    max-width: 310px;
    max-height: 310px;
    margin: 20px auto;
  }

  & h4 {
    .truncate();
  }

  & > li.focus-off {
    opacity: 0.4;
    transition: opacity 0.5s;
  }

  & > li.focus-off:hover,
  & > li.focus-on,
  & > li.focus-off.focus-on {
    opacity: 1;
  }

  &:after {
    content: "";
    .clearfix();
  }

  @media (min-width: 700px) {
    max-width: 700px;
    & > li {
      margin: 20px;
    }
  }

  @media (min-width: 1050px) {
    max-width: 1050px;
  }
}

.main-title.project-title {
  h2 {
    padding-left: 68px; // Back action button
  }
}
