body, html {
  height: 100%;
  width: 100%;
  min-width: 320px;
  overflow: hidden;
}

body[data-feedback="false"] .feedback-wrapper {
  display: none !important;
}

.screen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 320px;
  overflow-y: scroll;
  background: @BMWLightenGrey;

  .main-header ~ &, & .screen {
    top: 50px;
  }
}

.main-header {
  height: 50px;
  padding: 10px;
  font-size: 14px;

  ul {
    list-style: none;
    float: right;

    li {
      float: left;
      margin-right: 20px;
      line-height: 30px;
      font-size: 12px;
    }
  }
}

.login-area {
  font-size: 14px;
  margin-top: -10px;
  background-color: darken(@BMWCorporative, 10%);
  height: 50px;
  line-height: 50px;
  padding: 0 12px;
  color: #fff;

  .username {
    max-width: 100px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    .truncate();
  }

  .profile-image {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    float: left;
    margin-top: 8px;
    margin-right: 10px;
  }
}

.bg-light .login-area {
  background-color: @grey1;
  color: @BMWDark;
}

.main-title {
  position: relative;
  height: 100px;
  padding: 34px 0;
  background: @BMWCorporative;
  color: @BMWWhite;

  & h1, & h2, & h3, & h4 {
    padding: 0;
    width: 100%;
    .truncate();
  }

  * {
    color: @BMWWhite !important;
  }

  .wrapper-icons {
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 0 0 32px;
    font-size: 20px;
    text-align: center;
    margin-top: -10px;
  }
}
