.toast {
  position: fixed;
  top: 60px;
  right: 10px;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  color: @BMWWhite;
  background-color: fade(@warning, 80%);
  transform: translate(100%, 0);
  transition: transform 0.2s, opacity 0.4s;

  &.bottom {
    bottom: 10px;
    top: initial;
    right: initial;
    left: 50%;
    margin-left: -100px;
    transform: translate(0, 100%);
  }

  &.positive {
    background-color: fade(@BMWPositive, 80%);
  }

  &.show {
    opacity: 1;
    transform: translate(0, 0);
  }
}
