html {
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

h1 {
  padding: 12px 0 6px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 1px;
  color: @BMWDark;

  &.large {
    .media-min-xs({ font-size: 54px; });
  }
}

h2:extend(h1) {
  padding: 10px 0 5px;
  font-size: 32px;

  &.large {
    .media-min-xs({ font-size: 40px; });
  }
}

h3:extend(h1) {
  padding: 8px 0 2px;
  font-size: 24px;
  letter-spacing: 0.5px;
}

h4:extend(h1) {
  padding: 4px 0 0px;
  font-size: 20px;
  letter-spacing: 0.5px;
}

h5:extend(h1) {
  padding: 4px 0 0px;
  font-size: 16px;
  letter-spacing: 0.5px;
}

h6:extend(h1) {
  padding: 4px 0 0px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

h1, h2, h3, h4, h5, h6 {
  &.align-center {
    text-align: center;
  }
  &.primary {
    color: @BMWCorporative;
  }
  &.positive {
    color: @positive;
  }
  &.regular {
    font-weight: normal;
  }
  &.underline {
    position: relative;
    padding-bottom: 4px;
    &::after {
      content: "";
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -8px;
      right: -8px;
      background: @BMWDark;
    }
  }
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}
