.bg-lighten {
  background-color: @BMWWhite;
}

.bg-light {
  background-color: @BMWLightenGrey;
}

.bg-dark {
  color: @BMWWhite;
  background-color: darken(@BMWCorporative, 3%);
}

.bg-highlight {
  background-color: lighten(@BMWCorporative, 40%);
}

.shadow {
  box-shadow: @shadow;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.alignable {
  display: inline-block;
}

.xs-hidden {
  .media-max-xs({ display: none; });
}

.disabled-input() {
  opacity: 1;
  background: @grey1;
  color: @grey5;
  border-color: @grey1;
}
