//
// Variables
//

//Better mobile web ccorporative colors
@BMWCorporative: #3386c5;
@BMWDark: #414d59;
@BMWNegative: #ba3835;
@BMWPositive: #55a594;
@BMWWhite: #ffffff;
@BMWFeedback: #ffcc33;

// Theme colors
@color: @BMWDark;
@text: @BMWWhite;
@border: @color;
@colorHover: darken(@color,5%);
@textHover: @text;
@borderHover: @color;
@colorActive: darken(@color,10%);
@textActive: @text;
@borderActive: @colorActive;

@positive: @BMWPositive;
@positiveText: @text;
@positiveBorder: @positive;
@positiveHover: darken(@positive,5%);
@positiveTextHover: @positiveText;
@positiveBorderHover: @positiveHover;
@positiveActive: darken(@positive,10%);
@positiveTextActive: @positiveText;
@positiveBorderActive: @positiveActive;

@negative: @BMWNegative;
@negativeText: @text;
@negativeBorder: @negative;
@negativeHover: darken(@negative,5%);
@negativeTextHover: @negativeText;
@negativeBorderHover: @negativeHover;
@negativeActive: darken(@negative,10%);
@negativeTextActive: @negativeText;
@negativeBorderActive: @negativeActive;

@subdued: transparent;
@subduedText: @BMWDark;
@subduedBorder: @grey3;
@subduedHover: @BMWCorporative;
@subduedTextHover: @BMWWhite;
@subduedBorderHover: @BMWCorporative;
@subduedActive: @BMWCorporative;
@subduedTextActive: @subduedTextHover;
@subduedBorderActive: @subduedBorder;

@significant: @BMWCorporative;
@significantText: @text;
@significantBorder: @significant;
@significantHover: darken(@significant,5%);
@significantTextHover: @significantText;
@significantBorderHover: @significantHover;
@significantActive: darken(@significant,10%);
@significantTextActive: @significantText;
@significantBorderActive: @significantActive;

@warning: #f0ad4e;

// Common colors
@BMWLightenGrey: #f9f9f9;
@grey1: lighten(@BMWDark, 63%);
@grey2: lighten(@BMWDark, 58%);
@grey3: lighten(@BMWDark, 50%);
@grey4: lighten(@BMWDark, 40%);
@grey5: lighten(@BMWDark, 30%);
@grey6: lighten(@BMWDark, 20%);

// Header
@headerNav: #003245;
@headerText: white;
@headerIcon: #b6c6cb;
@headerReverse: @headerNav;

// Other properties
@shadow: 0 2px 6px rgba(0,0,0,0.3);
@shadowReverse: 0 -2px 6px rgba(0,0,0,0.3);
@radius: 4px;

// Breakpoints
@widthXS: 480px;
@widthSM: 768px;
@widthMD: 992px;
@widthLG: 1167px;

// Min and Max widths
@widthMin: 320px;
@widthMax: @widthLG;

// Grid variables
@gutter: 40px;
@columnGutter: @gutter / 2;
