<section class="tc-content">
  <h1>Buttons</h1>

  {{!--
    Usage:

    {{#tc-button [role="(positive|negative|subdued|significant)"] [block=true]
        action="actionFromController" [size="(small|large)"] [disabled=true]
        [loading=true]}}
      Button text
    {{/tc-button}}
  --}}
  <ul columns="2">
    <li class="tc-row">
      <h2>Default</h2>
      {{#tc-button size="small"}}Small{{/tc-button}}
      {{#tc-button }}Normal{{/tc-button}}
      {{#tc-button size="large"}}Large{{/tc-button}}
    </li>

    <li class="tc-row">
      <h2>Positive</h2>
      {{#tc-button size="small" role="positive"}}Small{{/tc-button}}
      {{#tc-button role="positive"}}Normal{{/tc-button}}
      {{#tc-button size="large" role="positive"}}Large{{/tc-button}}
    </li>

    <li class="tc-row">
      <h2>Negative</h2>
      {{#tc-button size="small" role="negative"}}Small{{/tc-button}}
      {{#tc-button role="negative"}}Normal{{/tc-button}}
      {{#tc-button size="large" role="negative"}}Large{{/tc-button}}
    </li>

    <li class="tc-row">
      <h2>Subdued</h2>
      {{#tc-button size="small" role="subdued"}}Small{{/tc-button}}
      {{#tc-button role="subdued"}}Normal{{/tc-button}}
      {{#tc-button size="large" role="subdued"}}Large{{/tc-button}}
    </li>

    <li class="tc-row">
      <h2>Significant</h2>
      {{#tc-button size="small" role="significant"}}Small{{/tc-button}}
      {{#tc-button role="significant"}}Normal{{/tc-button}}
      {{#tc-button size="large" role="significant"}}Large{{/tc-button}}
    </li>

    <li class="tc-row">
      <h2>Disabled</h2>
      {{#tc-button disabled=true size="small" role="positive"}}
        Small
      {{/tc-button}}
      {{#tc-button disabled=true role="negative"}}Normal{{/tc-button}}
      {{#tc-button disabled=true size="large" role="subdued"}}
        Large
      {{/tc-button}}
    </li>

    <li class="tc-row" column-span="2">
      <h2>Block</h2>
      {{#tc-button block=true size="small"}}Small{{/tc-button}}
      {{#tc-button block=true}}Normal{{/tc-button}}
      {{#tc-button block=true size="large"}}large{{/tc-button}}
    </li>

  </ul>
</section>
