<section class="tc-content bg-lighten">
  <h1>Inputs</h1>

  {{!--
    Usage:

    {{#tc-input [size="(small|big)"] [textarea=true] [block=true]
        [value=var] [placeholder=var] [type=var] [disabled=true] [msg=string]
        [valid="(ok|warn|error)"] [ignoreValidIfNoMsg=true] [action="some_action"]
        [on="event for triggering action"]}}
      Label text
    {{/tc-input}}

    Without label:

    {{tc-input [size="(small|big)"] [textarea=true] [block=true] [disabled=true]
        [value=var] [placeholder=var] [type=var] [msg=string]
        [valid="(ok|warn|error)"] [ignoreValidIfNoMsg=true] [action="some_action"]
        [on="event for triggering action"]}}
  --}}

  <div class="tc-row">
    {{tc-input placeholder="Enter user name" block=true}}
  </div>

  <div class="tc-row">
    {{#tc-input block=true value="input"}}
      Label
    {{/tc-input}}
  </div>

  <h2>Sizes</h2>

  <div class="tc-row">
    {{tc-input size="small" value="Small input" block=true}}
  </div>

  <div class="tc-row">
    {{tc-input size="small" value="Small textarea" block=true textarea=true}}
  </div>

  <div class="tc-row">
    {{tc-input size="large" value="Large input" block=true}}
  </div>

  <div class="tc-row">
    {{tc-input size="large" value="Large textarea" block=true textarea=true}}
  </div>

  <div class="tc-row">
    {{#tc-input value="Search" icon="search" icon-size="lg" block=true}}
      Label + input + icon
    {{/tc-input}}
  </div>

  <h2>Messages</h2>

  <div class="tc-row">
    {{#tc-input value="text" block=true msg="This field is valid" valid="ok"}}
      Label + input + message ok
    {{/tc-input}}
  </div>

  <div class="tc-row">
    {{#tc-input value="text" block=true valid="warn"
        msg="This field is valid, but be careful"}}
      Label + input + warning
    {{/tc-input}}
  </div>

  <div class="tc-row">
    {{#tc-input value="text" block=true valid="error"
        msg="This field is not valid"}}
      Label + input + error
    {{/tc-input}}
  </div>

  <h2>Input copy</h2>
  <div class="tc-row">
    <label>Only copy</label>
    {{#text-to-copy}}
      Text to copy
    {{/text-to-copy}}
  </div>
  <div class="tc-row">
    <label>Text + placeholder</label>
    {{#text-to-copy}}
      {{place-holder default="Text to copy"}}
    {{/text-to-copy}}
  </div>
  <div class="tc-row">
    <label>Text + text after</label>
    {{#text-to-copy}}
      <!-- not break line between place-holder and <b> for preventing
      inconsistents spaces -->
      {{place-holder default="domain" value="my_domain"}}<b>.com</b>
    {{/text-to-copy}}
  </div>
</section>

<section class="tc-content bg-lighten">
  <h2>Draggable file picker</h2>
  {{#draggable-file-picker
      preview=false
      dropZone=false
      accept="jpg, jpeg, png, gif"
      imgPreviewSrc=model.appInfo.iconUrl
      placeholder="Select icon..." }}
  {{/draggable-file-picker}}

  {{#draggable-file-picker
      preview=false
      dropZone=true
      accept="jpg, jpeg, png, gif"
      imgPreviewSrc=model.appInfo.iconUrl
      placeholder="Select icon..."}}
  {{/draggable-file-picker}}

  {{#draggable-file-picker
      preview=true
      dropZone=true
      accept="jpg, jpeg, png, gif"
      imgPreviewSrc=model.appInfo.iconUrl
      placeholder="Select icon..."}}
  {{/draggable-file-picker}}
</section>

<section class="tc-content bg-lighten">
  <h1>Checkboxes</h1>

  {{!--
    Usage:

   {{#tc-checkbox [value=bind] [align="right"] [switch=true] [block=true]
       [disabled=true]}}
     Checkbox text
   {{/tc-button}}
  --}}

  <ul columns="2">
    <li class="tc-content">
      <h2>Regular</h2>
      {{#tc-checkbox}}Text checkbox{{/tc-checkbox}}
    </li>
    <li class="tc-content">
      <h2>Right aligned</h2>
      {{#tc-checkbox align="right"}}Text checkbox{{/tc-checkbox}}
    </li>
    <li class="tc-content" style="background: #f9f9f9">
      <h2>Block</h2>
      {{#tc-checkbox block=true}}Text checkbox{{/tc-checkbox}}
      {{#tc-checkbox block=true align="right"}}
          Text checkbox right aligned
      {{/tc-checkbox}}
    </li>
    <li class="tc-content">
      <h2>Disabled</h2>
      {{#tc-checkbox disabled=true}}Text checkbox{{/tc-checkbox}}
    </li>
  </ul>
</section>

<section class="tc-content bg-lighten">
  <h1>Switches</h1>
  <ul columns="2">
    <li class="tc-content">
      <h2>Regular</h2>
      {{#tc-checkbox switch=true}}Text checkbox{{/tc-checkbox}}
    </li>
    <li class="tc-content">
      <h2>Right aligned</h2>
      {{#tc-checkbox switch=true align="right"}}Text checkbox{{/tc-checkbox}}
    </li>
    <li class="tc-content" style="background: #f9f9f9">
      <h2>Block</h2>
      {{#tc-checkbox switch=true block=true}}Text checkbox{{/tc-checkbox}}
      {{#tc-checkbox switch=true block=true align="right"}}
        Text checkbox right aligned
      {{/tc-checkbox}}
    </li>
    <li class="tc-content">
      <h2>Disabled</h2>
      {{#tc-checkbox switch=true disabled=true}}Text checkbox{{/tc-checkbox}}
    </li>
  </ul>
</section>
