.tc-dropdown {

  &[disabled] {
    opacity: 1;
  }

  &[disabled="true"] {
    border-color: @grey1;
    .disabled-input();

    select,
    &:hover select,
    &:active select,
    &:focus select {
      border-color: @grey1;
    }
  }
}
