.tc-content-large:extend(.tc-content) {
  position: relative;
  padding: 32px;
  .media-min-xs({ padding: 32px 50px; });
}

.tc-wrapper {
  position: relative;
}

.tc-wrapper-max-width:extend(.tc-wrapper) {
  max-width: 960px;
}
