.tc-row {

  &-large {
    margin-bottom: 32px;
  }
}

.tc-input {

  &[type="copy"] {
    position: relative;
    color: @BMWWhite;
    background: lighten(@BMWCorporative, 20%);
    padding-right: 47px;
    word-wrap: break-word;
    white-space: normal;

    .text-to-copy {
      &,
      * {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }

      &::selection,
      & span::selection,
      & b::selection {
        color: @BMWDark;
        background: @BMWWhite;
      }
    }

    .placeholder {
      opacity: 0.8;
    }

    .text-to-copy,
    .placeholder {

      b {
        font-weight: bold;
        letter-spacing: 1px;
      }
    }

    button {
      width: 42px;
      color: @BMWWhite;
      background: @BMWCorporative;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.wrapper-input-file {
  z-index: 0;

  > div {
    position: relative;
  }

  button {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 14px;
    color: @BMWWhite;
    background: @color;
    text-align: center;
    z-index: 1;
    border: 0;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    margin-bottom: 0;
    z-index: 2;
    cursor: pointer;

    &:hover ~ button,
    &:active ~ button {
      background: @colorHover;
    }

    &[disabled] ~ button {
      background: @grey2;
      color: @grey5;
    }
  }

  &.tc-ok {
    button {
      background: @positive;
    }
    input[type="file"]:hover ~ button,
    input[type="file"]:active ~ button {
      background: @positiveHover;
    }
  }

  &.tc-error {
    button {
      background: @negative;
    }

    input[type="file"]:hover ~ button,
    input[type="file"]:active ~ button {
      background: @negativeHover;
    }
  }

  &.tc-warning {
    button {
      background: @warning;
    }

    input[type="file"]:hover ~ button,
    input[type="file"]:active ~ button {
      background: darken(@warning, 5%);
    }
  }

  input[type="text"] {
    width: 100%;
    height: 40px;
    padding-left: 110px;
  }
}

.tc-message {
  line-height: 1;
}

.tc-input, .tc-textarea {

  &[disabled] {
    .disabled-input();
  }
}
