.tc-list {
  &.nav {
    li.active {
      background: @BMWWhite !important;
      box-shadow: @shadow;
      border-left: 4px solid @BMWCorporative;
      
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 6px;
        top: -6px;
        right: -6px;
        bottom: -6px;
        background: @BMWWhite;
      }
    }
    li, li.active {
      background-color: transparent;
      border-bottom: 0px;
      z-index: 1;

      a {
        padding: 16px 15px;
        font-size: 16px;
        opacity: 1;
      }

      & a:hover,
      & a:focus,
      & a:active,
      &.active a:hover,
      &.active a:focus,
      &.active a:active {
        color: inherit;
        background-color: @grey2;
      }
      &:focus,
      &.active a:focus {
        background: transparent;
      }
    }
    .media-max-sm ({
      li {
        float: left;
        width: 50%;
        &.active {
          border-top: 4px solid @BMWCorporative;
          border-left: 0;
          &:before {
            width: 100%;
            height: 8px;
            top: unset;
            bottom: -8px;
            left: 0;
          }
        }
      }
    })
  }
}

.nav-title {
  & {
    margin-bottom: 10px;
  }
  .media-max-sm ({
    & {
      margin-bottom: 20px;
    }
  })
}

