/* modal override */
.tc-modal {
  display: block;
  opacity: 0;
  transition: opacity 0.3s;

  &.show {
    opacity: 1;

    .tc-dialog {
      transform: translateY(0);
    }
  }

  .tc-dialog {
    color: @BMWDark;
    max-width: 500px;
    transform: translateY(-100px);
    transition: transform 0.3s;
    text-align: left;

    .tc-close {
      width: 24px;
      height: 24px;
      right: 10px;
      font-size: 20px;
      text-align: center;
    }
  }
}
