{{#if project.deleteMode}}
  <div class="confirm-box">
    <section class="confirm-box-content">
      <h6 class="tc-row">{{t "project.delete.header"}}</h6>
      <p class="tc-row">
        {{t "project.delete.description" nameBinding="project.model.name"}}
      </p>
      <menu class="align-right">
        <button {{action "cancelDelete" bubbles=false}}
            class="tc-button subdued small qa-project-delete-cancel">
          {{t "actions.cancel"}}
        </button>
        <button {{action "confirmDelete" project}}
            class="tc-button negative small qa-project-delete-confirm">
          {{t "project.delete.actions.confirm"}}
        </button>
      </menu>
    </section>
  </div>
  <div {{action "cancelDelete" bubbles=false}}
          class="overlay qa-project-delete-overlay"></div>
{{/if}}
