<section class="wrapper-modal">
  <div class="modal">
    <a {{action "goBack"}}
        class="button-modal-close icon small close gray qa-project-edit-back">
    </a>
    <label>{{t "project.edit.label"}}</label>
    {{input class="qa-project-edit-name"
        value=project.model.name placeholder=(t "project.edit.placeholder")}}

    <footer>
      <button {{action "save" project}} class="button qa-project-edit-save">
        {{t "actions.save"}}
      </button>
    </footer>
  </div>
</section>
