@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src:
		url('font/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
		url('font/FiraSans-Book.woff') format('woff'),
		url('font/FiraSans-Book.ttf') format('truetype'),
		url('font/Fira_Sans_400.svg#FiraSans') format('svg');
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src:
		url('font/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('font/FiraSans-Bold.woff') format('woff'),
		url('font/FiraSans-Bold.ttf') format('truetype'),
		url('font/Fira_Sans_700.svg#FiraSans') format('svg');
}
