{{#if deleteMode}}
  <div class="confirm-box">
    <section class="confirm-box-content">
      <h6 class="tc-row">{{t "channel.delete.header"}}</h6>
      <p class="tc-row">
        {{t "channel.delete.description" nameBinding="model.name"}}
      </p>
      <menu class="align-right">
        <button {{action "cancelDelete" bubbles=false}}
            class="tc-button subdued small qa-channel-delete-cancel">
          {{t "actions.cancel"}}
        </button>
        <button {{action "confirmDelete" channel}}
            class="tc-button negative small qa-channel-delete-confirm">
          {{t "channel.delete.actions.confirm"}}
        </button>
      </menu>
    </section>
  </div>
  <div {{action "cancelDelete" bubbles=false}}
          class="overlay qa-channel-delete-overlay"></div>
{{/if}}
