<div class="tc-row">
  <label>{{t "channel.deployment.header"}}</label>
  <div class="tc-dropdown block" icon="down" {{bind-attr disabled=savedChannel}}>
    {{view "select"
      content=deploymentTypes
      optionValuePath='content.id'
      optionLabelPath='content.name'
      selection=model.deployment.type
      value='appmaker'
      disabled=savedChannel}}
    </div>
</div>
<div>
  {{#if isAppmakerDeployment }}
    <div class="tc-row">
      {{#tc-input block=true required="required"
                  value=model.deployment.params.subdomain
                  placeholder=(t "channel.deployment.appmaker.description")
                  inputClassName="qa-channel-deployment-subdomain"
                  valid="error" msg=(if showErrors errors.deployment)
                  disabled=savedChannel}}
        {{t "channel.deployment.appmaker.header"}}
      {{/tc-input}}
    </div>
    <div class="tc-row">
       {{#text-to-copy}}
        {{place-holder value=model.deployment.params.subdomain
          default=(t "channel.deployment.appmaker.description")
        }}<b>.{{appHost}}</b>
      {{/text-to-copy}}
    </div>
  {{/if}}

  {{#if isGithubDeployment }}
    <div class="tc-row">
      {{#tc-input block=true required="required"
                  value=model.deployment.params.branch
                  placeholder=(t "channel.deployment.gh.description")
                  inputClassName="qa-channel-deployment-branch"
                  valid="error" msg=(if showErrors errors.deployment)}}
        {{t "channel.deployment.gh.header"}}
      {{/tc-input}}
    </div>
    <div class="tc-row">
      {{#text-to-copy}}
        {{place-holder default=(t "channel.deployment.gh.description")
            value=model.deployment.params.branch
        }}<b>.github.io</b>
      {{/text-to-copy}}
    </div>
  {{/if}}

  {{#if isSSHDeployment }}
    <div class="tc-row">
      {{#tc-input block=true required="required"
                  value=model.deployment.params.url
                  placeholder=(t "channel.deployment.ssh.deploy.description")
                  inputClassName="qa-channel-deployment-url"
                  valid="error" msg=(if showErrors errors.deployment)}}
        {{t "channel.deployment.ssh.deploy.header"}}
      {{/tc-input}}
    </div>
    <div class="tc-row">
      {{#text-to-copy}}
          {{place-holder default=(t "channel.deployment.ssh.deploy.description")
            value=model.deployment.params.url}}
      {{/text-to-copy}}
    </div>
    <div class="tc-row">
      {{#tc-input block=true required="required"
                  value=model.deployment.params.fileName
                  placeholder=(t "channel.deployment.ssh.file.description")
                  valid="error" msg=(if showErrors errors.deployment)}}
        {{t "channel.deployment.ssh.file.header"}}
      {{/tc-input}}
    </div>
    <div class="tc-row">
      {{#tc-input block=true required="required"
                  value=model.deployment.params.notificationHook
                  placeholder=(t "channel.deployment.ssh.url.description")
                  valid="error" msg=(if showErrors errors.deployment)}}
        {{t "channel.deployment.ssh.url.header"}}
      {{/tc-input}}
    </div>
  {{/if}}
</div>
