<div class="tc-row">
  {{#tc-input block=true required="required" value=model.appInfo.name
              placeholder=(t "channel.manifest.name.placeholder")
              inputClassName="qa-channel-app-name"
              valid="error" msg=(if showErrors errors.appInfo.name)
              disabled=showStep3}}
    {{t "channel.manifest.name.label"}}
  {{/tc-input}}
</div>

<div class="tc-row">
  {{#tc-input block=true value="textarea" value=model.appInfo.description
              textarea=true valid="error"
              placeholder=(t "channel.manifest.description.placeholder")
              inputClassName="qa-channel-app-description"
              msg=(if showErrors errors.appInfo.description)
              disabled=showStep3}}
    {{t "channel.manifest.description.label"}}
  {{/tc-input}}
</div>

<div class="tc-row">
  <label>{{t "channel.manifest.icon.header"}}</label>
  {{#draggable-file-picker preview=true accept="jpg, jpeg, png, gif"
    dropZone=true fileChanged="iconLoaded" imgPreviewSrc=model.appInfo.iconUrl
    inputClassName="qa-channel-app-icon" valid=iconValid
    placeholder=(t "channel.manifest.icon.placeholder") disabled=showStep3}}
      {{t "channel.manifest.icon.label"}}
  {{/draggable-file-picker}}
</div>
