<div class="tc-row">
  <label>{{t "channel.origin.header"}}</label>
  <div class="tc-dropdown block" icon="down" {{bind-attr disabled=showStep2}}>
    {{view "select"
      content=originTypes
      optionValuePath='content.id'
      optionLabelPath='content.translatedDescription'
      selection=model.origin.type
	    value=defaultOriginType
      disabled=showStep2}}
  </div>
</div>

<div class="tc-row">
  {{#if isZipFileOrigin }}
    <label>{{t "channel.origin.zip.label"}}</label>
    {{#draggable-file-picker preview=false fileChanged="fileLoaded" dropZone=true
        inputClassName="qa-channel-origin-zip" fileValue=fileValue valid=valid
        msg=msg placeholder=(t "channel.origin.zip.placeholder") accept="zip"
        disabled=showStep2}}
    {{/draggable-file-picker}}
  {{/if}}

  {{#if isGitOrigin }}
    {{#tc-input block=true value=model.origin.params.repository
        placeholder=(t "channel.origin.git.placeholder")}}
      {{t "channel.origin.git.label"}}
    {{/tc-input}}
  {{/if}}

  {{#if isSSHOrigin }}
    <label>{{t "channel.origin.ssh.label"}}</label>
    {{input value=model.origin.params.fileName
        placeholder=(t "channel.origin.ssh.placeholder")}}
  {{/if}}
</div>
