{{#if view.channel}}
  {{#link-to 'channel' project.model.id view.channel.id class='qa-channel-go' data-tag=view.tag}}
    <div class="project-icon" style="{{view.backgroundIcon}}"></div>
    <div class="item-details">
      <p>{{view.channel.name}}</p>
      <span>
        {{fa-icon "cloud-upload"}} {{view.channel.origin.type.id}}
      </span>
      <span>
        {{fa-icon "cloud-download"}} {{view.channel.deployment.type.id}}
      </span>
    </div>
  {{/link-to}}
{{else}}
  <!-- XXX: the div is to fix a Chrome issue rendering a blankline after
  cancelling the activation of a channel. -->
  <div>
    <p>{{view.title}}</p>
    {{#link-to "channels.new" project.model.id
               (query-params name=view.title tag=view.tag)
               class='tc-button primary right subdued qa-channel-new'
               data-tag=view.tag}}
      {{t "actions.activate"}}
    {{/link-to}}
  </div>
{{/if}}
