<header class="tc-row">
  <h4>{{t "channels.new.header"}}</h4>
</header>
<section class="accordion qa-channels-new">
  <article class="item-accordion {{if showStep2 'positive'}}"
      expand="{{if showStep1 'true'}}">
    <header>
      <h4>{{t "channels.new.steps.first.header"}}</h4>
    </header>
    {{#if showStep1}}
      <div class="tc-content tc-gutter" columns="3 md1">
        <p class="tc-row">
          {{t "channels.new.steps.first.description"}}
        </p>
        <div class="tc-row separator" column-span="2 md1">
          {{partial "channel/origin"}}
        </div>
        <div class="tc-row align-center" column-span="3 md1">
          {{#tc-button action="saveOrigin" disabled=disableSaveOriginButton
                       class="qa-channels-new-save-origin"
                       loading=loadingOrigin}}
            {{conditional-label label=(t "channels.new.actions.next")
              alternativeLabel=(t "channels.new.actions.done")
              alternativeIcon="check" condition=showStep2}}
          {{/tc-button}}
        </div>
      </div>
    {{/if}}
  </article>
  <article class="item-accordion {{if showStep3 'positive'}}"
      expand="{{if showStep2 'true'}}">
    <header>
      <h4>{{t "channels.new.steps.second.header"}}</h4>
    </header>
    {{#if showStep2}}
      <div class="tc-content tc-gutter" columns="3 md1">
        <p class="tc-row">
          {{t "channels.new.steps.second.description"}}
        </p>
        <div class="tc-row separator" column-span="2 md1">
          {{partial "channel/manifest"}}
        </div>
        <div id="scroll-anchor-2" class="tc-row align-center" column-span="3 md1">
          {{#tc-button action="saveManifest" disabled=disableSaveManifest
                       class="qa-channels-new-save-manifest"}}
            {{conditional-label label=(t "channels.new.actions.next")
              alternativeLabel=(t "channels.new.actions.done")
              alternativeIcon="check" condition=showStep3}}
          {{/tc-button}}
        </div>
      </div>
    {{/if}}
  </article>
  <article class="item-accordion {{if savedChannel 'positive'}}"
      expand="{{if showStep3 'true'}}">
    <header>
      <h4>{{t "channels.new.steps.third.header"}}</h4>
    </header>
    {{#if showStep3}}
      <div class="tc-content tc-gutter" columns="3 md1">
        <p class="tc-row">
          {{t "channels.new.steps.third.description"}}
        </p>
        <div class="tc-row separator" column-span="2 md1">
          {{partial "channel/deployment"}}
        </div>
        <div id="scroll-anchor-3" class="tc-row align-center" column-span="3 md1">
          {{#tc-button action="save" class="qa-channels-new-save"
              loading=loadingDeploy disabled=disableSaveDeployment}}
            {{t "actions.save"}}
          {{/tc-button}}
        </div>
      </div>
    {{/if}}
  </article>
</section>
