<section class="tc-content-large">
  <h1 class="large primary align-center">{{t "about.header"}}</h1>
  <h2 class="tc-row large align-center">{{t "about.subheader"}}</h2>
  <div id="your-nice-app" columns="3 xs1">
    <div column-span="2 xs1">
      <div class="wrapper-files">
        <div class="file file-html"></div>
        <div class="file file-css"></div>
        <div class="file file-js"></div>
      </div>
    </div>
    <div class="tc-gutter-left xs-hidden">
      {{#image-carousel carouselId="carouselComponent1"
          carouselImages="smartphone.png tv.png tablet.png laptop.png
          computer.png" interval=3000 }}
      {{/image-carousel}}
    </div>
  </div>
  <div class="align-center">
    {{#link-to "projects" id="button-start"}}
      {{#tc-button size="large"}}
        {{t "about.actions.start"}}
      {{/tc-button}}
    {{/link-to}}
  </div>
</section>

<section class="tc-content-large align-center bg-highlight">
  <h2 class="tc-row-large large primary align-center">
    {{t "about.benefits.header"}}
  </h2>
  <ul class="tc-wrapper align-center alignable tc-gutter" columns="3 sm1">
    <li class="tc-row-large">
      <div class="benefit tc-row-large">
        <div class="offline"></div>
      </div>
      <h3 class="align-center tc-row">{{t "about.benefits.offline.header"}}</h3>
      <p>
        {{t "about.benefits.offline.description"}}
      </p>
    </li>
    <li class="tc-row-large">
      <div class="benefit tc-row-large">
        <div class="instalable"></div>
      </div>
      <h3 class="align-center tc-row">{{t "about.benefits.installable.header"}}</h3>
      <p>
        {{t "about.benefits.installable.description"}}
      </p>
    </li>
    <li class="tc-row-large">
      <div class="benefit tc-row-large">
        <div class="hosted"></div>
      </div>
      <h3 class="align-center tc-row">{{t "about.benefits.hosted.header"}}</h3>
      <p>
        {{t "about.benefits.hosted.description"}}
      </p>
    </li>
  </ul>
</section>
