{{render 'header'}}
<section id="projectList" class="screen">
  {{outlet}}
</section>
{{outlet 'modal'}}

<section class="feedback-wrapper {{if feedbackDialogAlreadyDisplayed 'minimized'}}">
  <div class="feedback-dialog">
    <h5 class="tc-row">{{t "feedbackDialog.header"}}</h5>
    <p>
      {{t "feedbackDialog.text"}}
    </p>
    <footer>
      <button class="tc-button subdued" {{action "minimizeFeedbackDialog"}}>
        {{t "actions.no"}}
      </button>
      <button class="tc-button" {{action "openFeedbackIframe"}}>
        {{t "actions.yes"}}
      </button>
    </footer>
  </div>
  <div id="feedback-minimized" class="feedback-minimized">
    <button {{action "openFeedbackIframe"}}>{{t "feedbackDialog.headerMinimized"}}</button>
  </div>
</section>

{{#unless showCookiesWarning}}
  {{#fixed-warn id="cookies-warn"}}
    {{t "cookiesWarn"}}
    {{#tc-button action="acceptCookies" size="small" role="significant"}}
      {{t "actions.accept"}}
    {{/tc-button}}
  {{/fixed-warn}}
{{/unless}}
