<div class="bg-lighten shadow tc-content-large qa-channel" column-span="3 sm1">
  {{partial "channel/confirmDeletion"}}
  <section class="tc-row-large">
    <h6 class="tc-row underline">{{t "channel.upload-header"}}</h6>
    {{partial "channel/origin"}}
    {{#if model.origin.src.name}}
      <span class="saved-zip">
        {{fa-icon "save"}}
        {{model.origin.src.name}}
      </span>
    {{/if}}
  </section>

  <section class="tc-row-large">
    <h6 class="tc-row underline">{{t "channel.manifest-header"}}</h6>
    {{partial "channel/manifest"}}
  </section>

  <section class="tc-row-large">
    <h6 class="tc-row underline">{{t "channel.deploy-header"}}</h6>
    {{partial "channel/deployment"}}
  </section>
  <footer class="align-right">
    {{#tc-button role="negative" action="delete" id="button-channel-delete"}}
      {{t "actions.delete"}}
    {{/tc-button}}
    {{#tc-button action="save" id="button-channel-save" disabled=hasErrors
        loading=loading}}
      {{t "actions.save"}}
    {{/tc-button}}
  </footer>
  {{#toast-dialog behavior="bottom positive" isShowing=channelSaved}}
    {{t "channel.toast"}}
  {{/toast-dialog}}
</div>
