<header class="main-header {{if drawLightHeader 'bg-light' 'bg-dark'}}">
  <ul>
    <li>{{#link-to "projects" id="button-view-apps"}}{{t "header.view_apps"}}{{/link-to}}</li>
    <li>
      {{#if session.isAuthenticated}}
        <div class="login-area">
          {{#if session.secure.avatarUrl}}
            <img class="profile-image" src={{session.secure.avatarUrl}}>
          {{/if}}
          <span class="username">
            {{session.secure.username}}
          </span>
          {{#tc-button action="invalidateSession"}}
            {{fa-icon "sign-out"}}
          {{/tc-button}}
        </div>
      {{else}}
        {{#link-to 'projects' classNames="tc-button small"}}
          {{fa-icon "user"}}
          {{t "login.label"}}
        {{/link-to}}
      {{/if}}
    </li>
  </ul>
</header>
