{{#modal-attribute-editor close="closeModal" cancel="closeModal" save="save"
                          setup="setup" model=model autorestoreAttrs="name" saveDisabled=isInvalidProjectName}}
  <h4>{{t "project.edit.title"}}</h4>
  {{#tc-input inputId="editProjectNameField" block=true value=projectName
              class="qa-project-edit-name"
              placeholder=(t "projects.new.name.placeholder")
              valid="error" msg=(if showErrors errors.projectName)}}
    {{t "project.edit.label"}}
  {{/tc-input}}
{{/modal-attribute-editor}}
