<header class="main-title">
  <h2 class="primary regular align-center">{{t "projects.header"}}</h2>
</header>
<ul class="projects-list">
  <li class="card {{if view.inputNewProjectFocused 'focus-off' 'focus-on'}} create-project">
    <h4>{{t "projects.new.header"}}</h4>
    {{#tc-input block=true value=projectName
                action="newProjectFocusStatusHandler" on=view.inputNewProjectEvent
                placeholder=(t "projects.new.name.placeholder")
                valid="error" msg=(if showErrors errors.projectName)}}
      {{t "projects.new.name.label"}}
    {{/tc-input}}
    <div class="push-down">
      <button id="button-create-project" {{action "create"}}
              class="tc-button block" disabled={{isInvalidProjectName}}>
        {{t "projects.new.actions.create"}}
        {{job-spinner jobId=createProjectJobId action=onProjectCreated
                                                                   delay=300}}
      </button>
    </div>
  </li>
  <!-- products card-->
  {{#each project in arrangedContent itemController="project"}}
    <li data-project-name={{project.model.name}}
        class="card {{if project.model.isNew 'is-new'}}
              {{if project.model.isSaving 'is-saving'}}">
      {{bubble-menu model=project.model edit="openModal" delete="delete"}}
      {{fa-icon "circle-o-notch" spin=true classNames="card-loader"}}
      {{partial 'project/confirmDeletion'}}
      <div>
        <h4>
          {{project.model.name}}
        </h4>
        <!-- channel Item (template in channel/channel-item)-->
        <div class="channels push-down">
          <h5>{{t "channel.header"}}</h5>
          <ul class="list">
            {{view "channelProductionMenu" channel=project.model.production
                   tagName="li" }}
            {{view "channelBetaMenu" channel=project.model.beta tagName="li"}}
          </ul>
        </div>
      </div>
    </li>
  {{else}}
    <li class="card-info">
      <h4>
        {{t "projects.info.header"}}
        <div>{{fa-icon "info-circle"}}</div>
      </h4>
      <p>
        {{t "projects.info.description"}}
      </p>
    </li>
  {{/each}}
</ul>

{{outlet}}
