<section class="screen" id="project-screen">
  <header class="main-title project-title">
    <div class="tc-wrapper-max-width">
      <div class="wrapper-icons">
        <a {{action "goBack"}} id="button-project-back">
          {{fa-icon "chevron-left"}}
        </a>
      </div>
      <h2 class="primary regular align-center">{{this.model.name}}</h2>
    </div>
  </header>

  <section class="tc-content tc-wrapper-max-width" columns="4 sm1">
    <nav class="align-center">
      <h3 class="nav-title align-center regular">{{t "channel.header"}}</h3>
      <ul class="tc-list nav">
        <li class="{{if isShowingProductionChannel 'active'}}">
          {{#if this.model.production}}
            {{#link-to 'channel' this.model this.model.production
                (query-params channelId='production')
                disabled=isShowingProductionChannel
                id='tab-channel-production'}}
              {{t "channel.types.production"}}
            {{/link-to}}
          {{else}}
            {{#link-to 'channels.new' this.model.id
              (query-params name=(t "channel.types.production")
              disabled=isShowingProductionChannel
              tag='production')
              id='tab-channel-production'}}
              {{t "channel.types.production"}}
            {{/link-to}}
          {{/if}}
        </li>
        <li class="{{if isShowingBetaChannel 'active'}}">
          {{#if this.model.beta}}
            {{#link-to 'channel' this.model this.model.beta
                (query-params channelId='beta') disabled=isShowingBetaChannel
                id='tab-channel-beta'}}
              {{t "channel.types.beta"}}
            {{/link-to}}
          {{else}}
            {{#link-to 'channels.new' this.model.id
              (query-params name=(t "channel.types.beta")
              disabled=isShowingBetaChannel
              tag='beta')
              id='tab-channel-beta'}}
              {{t "channel.types.beta"}}
            {{/link-to}}
          {{/if}}
        </li>
      </ul>
    </nav>
    {{outlet}}
  </section>
</section>
